body {
    background: #f5f5f5;
    font-family: Sans-Serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #586780
}
section, article {
    display: block
}
code {
    background: #CCDCE6;
    padding: 1px
}
hr {
    height: 0;
    padding: 0;
    border: none;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #fff
}
#showSampleData, #showSampleSelectList {
    text-decoration: underline;
    cursor: pointer
}
.wrapper {
    width: 1200px;
    margin: 0 auto
}
small {
    color: #777
}
a {
    color: #00b5be
}
.spacer {
    height: 20px;
    width: 100%;
    clear: both
}
.button-basic {
    cursor: pointer;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #ff5a00;
    box-shadow: 4px 3px 0 #d94c00;
    color: #fff;
    transition: background-color 300ms ease-out;
    padding-top: 1.0625rem;
    padding-bottom: 1rem;
    border: none;
    font-weight: normal !important;
    outline:none;
    border-radius: 5px;
}
.button-basic:active {
    background: #d94c00;
}
section {
    padding: 15px 0;
    line-height: 1.6em
}
.demo-content {
    width: 100%;
    background: #dadada;
    border: solid 2px #ddd;
    font-size: 12px
}
.demo-live {
    padding: 20px;
    background: #fff;
    line-height: 1.4em;
    min-height: 260px
}
article {
    margin: 20px 0 30px
}
article.half-l {
    width: 40%;
    float: left;
    margin-right: 2%
}
article.half-r {
    width: 56%;
    float: left;
    margin-left: 2%
}
article h3 {
    margin: 0;
    padding: 0 0 15px 0;
    font-family: 'Merienda One', sans-serif
}
.demo-index {
    color: #fff;
    background: #586780;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 1px 0 #4b586d;
    margin-top: -15px
}
.weak {
    color: #888
}
#options .weak {
    font-style: italic
}
#options li {
    padding: 7px 0
}
.clearfix {
    clear: both
}
.dd-selected {
    color: #000000
}
#dd-display-data {
    height: 80%;
    overflow: auto
}
#dd-modal {
    display: none;
    position: fixed;
    top: 2%;
    left: 50%;
    height: 400px;
    width: 800px;
    margin-left: -400px;
    background: #444;
    border: solid 1px #333;
    border-radius: 5px;
    z-index: 20000;
    padding: 20px;
    text-shadow: none;
    line-height: 1.5em;
    color: #fff;
}
#close-modal {
    float: right;
    width: 100px;
    margin-right: 10px;
}
pre .str, code .str {
    color: #65B042
}
pre .kwd, code .kwd {
    color: #E28964
}
pre .com, code .com {
    color: #AEAEAE;
    font-style: italic
}
pre .typ, code .typ {
    color: #89bdff
}
pre .lit, code .lit {
    color: #3387CC
}
pre .pun, code .pun {
    color: #fff
}
pre .pln, code .pln {
    color: #fff
}
pre .tag, code .tag {
    color: #89bdff
}
pre .atn, code .atn {
    color: #bdb76b
}
pre .atv, code .atv {
    color: #65B042
}
pre .dec, code .dec {
    color: #3387CC
}
pre.prettyprint, code.prettyprint {
    background-color: #444;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.6em;
    border-radius: 3px
}
pre.prettyprint {
    width: 95%;
    margin: 16px auto;
    padding: 1em;
    white-space: pre-wrap
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
}
@media print {
    pre .str, code .str {
        color: #060
    }
    pre .kwd, code .kwd {
        color: #006;
        font-weight: bold
    }
    pre .com, code .com {
        color: #600;
        font-style: italic
    }
    pre .typ, code .typ {
        color: #404;
        font-weight: bold
    }
    pre .lit, code .lit {
        color: #044
    }
    pre .pun, code .pun {
        color: #440
    }
    pre .pln, code .pln {
        color: #000
    }
    pre .tag, code .tag {
        color: #006;
        font-weight: bold
    }
    pre .atn, code .atn {
        color: #404
    }
    pre .atv, code .atv {
        color: #060
    }
}